<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group7.edu.mapper.SysAdMapper">
  <resultMap id="BaseResultMap" type="com.group7.edu.entity.SysAd">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="page" jdbcType="VARCHAR" property="page" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="fileuuid" jdbcType="VARCHAR" property="fileuuid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.group7.edu.entity.SysAd">
    <result column="ad_text" jdbcType="LONGVARCHAR" property="adText" />
  </resultMap>
  <sql id="Base_Column_List">
    id, page, title, number, fileuuid
  </sql>
  <sql id="Blob_Column_List">
    ad_text
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_ad
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_ad
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.group7.edu.entity.SysAd">
    insert into sys_ad (id, page, title, 
      number, fileuuid, ad_text
      )
    values (#{id,jdbcType=INTEGER}, #{page,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{number,jdbcType=INTEGER}, #{fileuuid,jdbcType=VARCHAR}, #{adText,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.group7.edu.entity.SysAd">
    insert into sys_ad
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="page != null">
        page,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="fileuuid != null">
        fileuuid,
      </if>
      <if test="adText != null">
        ad_text,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="page != null">
        #{page,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="fileuuid != null">
        #{fileuuid,jdbcType=VARCHAR},
      </if>
      <if test="adText != null">
        #{adText,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.group7.edu.entity.SysAd">
    update sys_ad
    <set>
      <if test="page != null">
        page = #{page,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="fileuuid != null">
        fileuuid = #{fileuuid,jdbcType=VARCHAR},
      </if>
      <if test="adText != null">
        ad_text = #{adText,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.group7.edu.entity.SysAd">
    update sys_ad
    set page = #{page,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      fileuuid = #{fileuuid,jdbcType=VARCHAR},
      ad_text = #{adText,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.group7.edu.entity.SysAd">
    update sys_ad
    set page = #{page,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      fileuuid = #{fileuuid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>