<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group7.edu.mapper.SysAgreementMapper">
  <resultMap id="BaseResultMap" type="com.group7.edu.entity.SysAgreement">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="created_time" jdbcType="DATE" property="createdTime" />
    <result column="last_modify" jdbcType="DATE" property="lastModify" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.group7.edu.entity.SysAgreement">
    <result column="agreement_text" jdbcType="LONGVARCHAR" property="agreementText" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, created_time, last_modify
  </sql>
  <sql id="Blob_Column_List">
    agreement_text
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_agreement
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_agreement
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.group7.edu.entity.SysAgreement">
    insert into sys_agreement (id, name, created_time, 
      last_modify, agreement_text)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{createdTime,jdbcType=DATE}, 
      #{lastModify,jdbcType=DATE}, #{agreementText,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.group7.edu.entity.SysAgreement">
    insert into sys_agreement
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="lastModify != null">
        last_modify,
      </if>
      <if test="agreementText != null">
        agreement_text,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=DATE},
      </if>
      <if test="lastModify != null">
        #{lastModify,jdbcType=DATE},
      </if>
      <if test="agreementText != null">
        #{agreementText,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.group7.edu.entity.SysAgreement">
    update sys_agreement
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=DATE},
      </if>
      <if test="lastModify != null">
        last_modify = #{lastModify,jdbcType=DATE},
      </if>
      <if test="agreementText != null">
        agreement_text = #{agreementText,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.group7.edu.entity.SysAgreement">
    update sys_agreement
    set name = #{name,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=DATE},
      last_modify = #{lastModify,jdbcType=DATE},
      agreement_text = #{agreementText,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.group7.edu.entity.SysAgreement">
    update sys_agreement
    set name = #{name,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=DATE},
      last_modify = #{lastModify,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByName" resultType="com.group7.edu.entity.SysAgreement">
    SELECT * FROM sys_agreement WHERE name = #{name}
  </select>
</mapper>