<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group7.edu.mapper.SysContactWayMapper">
  <resultMap id="BaseResultMap" type="com.group7.edu.entity.SysContactWay">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="service" jdbcType="INTEGER" property="service" />
    <result column="focus" jdbcType="INTEGER" property="focus" />
    <result column="bugget" jdbcType="DOUBLE" property="bugget" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, phone, school, service, focus, bugget
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_contact_way
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_contact_way
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.group7.edu.entity.SysContactWay">
    insert into sys_contact_way (id, name, phone, 
      school, service, focus, 
      bugget)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{school,jdbcType=VARCHAR}, #{service,jdbcType=INTEGER}, #{focus,jdbcType=INTEGER}, 
      #{bugget,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.group7.edu.entity.SysContactWay">
    insert into sys_contact_way
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="school != null">
        school,
      </if>
      <if test="service != null">
        service,
      </if>
      <if test="focus != null">
        focus,
      </if>
      <if test="bugget != null">
        bugget,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="service != null">
        #{service,jdbcType=INTEGER},
      </if>
      <if test="focus != null">
        #{focus,jdbcType=INTEGER},
      </if>
      <if test="bugget != null">
        #{bugget,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.group7.edu.entity.SysContactWay">
    update sys_contact_way
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="service != null">
        service = #{service,jdbcType=INTEGER},
      </if>
      <if test="focus != null">
        focus = #{focus,jdbcType=INTEGER},
      </if>
      <if test="bugget != null">
        bugget = #{bugget,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.group7.edu.entity.SysContactWay">
    update sys_contact_way
    set name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      service = #{service,jdbcType=INTEGER},
      focus = #{focus,jdbcType=INTEGER},
      bugget = #{bugget,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>