<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group7.edu.mapper.SysDepartmentEvaluationMapper">
  <resultMap id="BaseResultMap" type="com.group7.edu.entity.SysDepartmentEvaluation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.group7.edu.entity.SysDepartmentEvaluation">
    <result column="evaluation_text" jdbcType="LONGVARCHAR" property="evaluationText" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, department_id, created_time
  </sql>
  <sql id="Blob_Column_List">
    evaluation_text
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_department_evaluation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_department_evaluation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.group7.edu.entity.SysDepartmentEvaluation">
    insert into sys_department_evaluation (id, uid, department_id, 
      created_time, evaluation_text)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{departmentId,jdbcType=INTEGER}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{evaluationText,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.group7.edu.entity.SysDepartmentEvaluation">
    insert into sys_department_evaluation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="evaluationText != null">
        evaluation_text,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="departmentId != null">
        #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="evaluationText != null">
        #{evaluationText,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.group7.edu.entity.SysDepartmentEvaluation">
    update sys_department_evaluation
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="evaluationText != null">
        evaluation_text = #{evaluationText,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.group7.edu.entity.SysDepartmentEvaluation">
    update sys_department_evaluation
    set uid = #{uid,jdbcType=INTEGER},
      department_id = #{departmentId,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      evaluation_text = #{evaluationText,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.group7.edu.entity.SysDepartmentEvaluation">
    update sys_department_evaluation
    set uid = #{uid,jdbcType=INTEGER},
      department_id = #{departmentId,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>