<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group7.edu.mapper.SysGroupMapper">
  <resultMap id="BaseResultMap" type="com.group7.edu.entity.SysGroup">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="times" jdbcType="INTEGER" property="times" />
    <result column="class_time" jdbcType="TIMESTAMP" property="classTime" />
    <result column="syllabus" jdbcType="INTEGER" property="syllabus" />
    <result column="cover_url" jdbcType="VARCHAR" property="coverUrl" />
    <result column="qq_group" jdbcType="VARCHAR" property="qqGroup" />
    <result column="class_text" jdbcType="VARCHAR" property="classText" />
    <result column="text_time" jdbcType="TIMESTAMP" property="textTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, times, class_time, syllabus, cover_url, qq_group, class_text, text_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_group
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.group7.edu.entity.SysGroup">
    insert into sys_group (id, name, times, 
      class_time, syllabus, cover_url, 
      qq_group, class_text, text_time
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{times,jdbcType=INTEGER}, 
      #{classTime,jdbcType=TIMESTAMP}, #{syllabus,jdbcType=INTEGER}, #{coverUrl,jdbcType=VARCHAR}, 
      #{qqGroup,jdbcType=VARCHAR}, #{classText,jdbcType=VARCHAR}, #{textTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.group7.edu.entity.SysGroup">
    insert into sys_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="times != null">
        times,
      </if>
      <if test="classTime != null">
        class_time,
      </if>
      <if test="syllabus != null">
        syllabus,
      </if>
      <if test="coverUrl != null">
        cover_url,
      </if>
      <if test="qqGroup != null">
        qq_group,
      </if>
      <if test="classText != null">
        class_text,
      </if>
      <if test="textTime != null">
        text_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="times != null">
        #{times,jdbcType=INTEGER},
      </if>
      <if test="classTime != null">
        #{classTime,jdbcType=TIMESTAMP},
      </if>
      <if test="syllabus != null">
        #{syllabus,jdbcType=INTEGER},
      </if>
      <if test="coverUrl != null">
        #{coverUrl,jdbcType=VARCHAR},
      </if>
      <if test="qqGroup != null">
        #{qqGroup,jdbcType=VARCHAR},
      </if>
      <if test="classText != null">
        #{classText,jdbcType=VARCHAR},
      </if>
      <if test="textTime != null">
        #{textTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.group7.edu.entity.SysGroup">
    update sys_group
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="times != null">
        times = #{times,jdbcType=INTEGER},
      </if>
      <if test="classTime != null">
        class_time = #{classTime,jdbcType=TIMESTAMP},
      </if>
      <if test="syllabus != null">
        syllabus = #{syllabus,jdbcType=INTEGER},
      </if>
      <if test="coverUrl != null">
        cover_url = #{coverUrl,jdbcType=VARCHAR},
      </if>
      <if test="qqGroup != null">
        qq_group = #{qqGroup,jdbcType=VARCHAR},
      </if>
      <if test="classText != null">
        class_text = #{classText,jdbcType=VARCHAR},
      </if>
      <if test="textTime != null">
        text_time = #{textTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.group7.edu.entity.SysGroup">
    update sys_group
    set name = #{name,jdbcType=VARCHAR},
      times = #{times,jdbcType=INTEGER},
      class_time = #{classTime,jdbcType=TIMESTAMP},
      syllabus = #{syllabus,jdbcType=INTEGER},
      cover_url = #{coverUrl,jdbcType=VARCHAR},
      qq_group = #{qqGroup,jdbcType=VARCHAR},
      class_text = #{classText,jdbcType=VARCHAR},
      text_time = #{textTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>