<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group7.edu.mapper.SysMessageMapper">
  <resultMap id="BaseResultMap" type="com.group7.edu.entity.SysMessage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="sender" jdbcType="INTEGER" property="sender" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="message_text" jdbcType="VARCHAR" property="messageText" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, sender, uid, message_text
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.group7.edu.entity.SysMessage">
    insert into sys_message (id, type, sender, 
      uid, message_text)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{sender,jdbcType=INTEGER}, 
      #{uid,jdbcType=INTEGER}, #{messageText,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.group7.edu.entity.SysMessage">
    insert into sys_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="sender != null">
        sender,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="messageText != null">
        message_text,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="sender != null">
        #{sender,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="messageText != null">
        #{messageText,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.group7.edu.entity.SysMessage">
    update sys_message
    <set>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="sender != null">
        sender = #{sender,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="messageText != null">
        message_text = #{messageText,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.group7.edu.entity.SysMessage">
    update sys_message
    set type = #{type,jdbcType=INTEGER},
      sender = #{sender,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      message_text = #{messageText,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>