<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group7.edu.mapper.SysNetDiskFileMapper">
  <resultMap id="BaseResultMap" type="com.group7.edu.entity.SysNetDiskFile">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="size" jdbcType="VARCHAR" property="size" />
    <result column="fileuuid" jdbcType="VARCHAR" property="fileuuid" />
    <result column="created_time" jdbcType="DATE" property="createdTime" />
    <result column="filename" jdbcType="VARCHAR" property="filename" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, size, fileuuid, created_time, filename
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_disk
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_disk
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.group7.edu.entity.SysNetDiskFile">
    insert into sys_disk (id, uid, size, 
      fileuuid, created_time, filename
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{size,jdbcType=VARCHAR}, 
      #{fileuuid,jdbcType=VARCHAR}, #{createdTime,jdbcType=DATE}, #{filename,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.group7.edu.entity.SysNetDiskFile">
    insert into sys_disk
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="fileuuid != null">
        fileuuid,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="filename != null">
        filename,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="size != null">
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="fileuuid != null">
        #{fileuuid,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=DATE},
      </if>
      <if test="filename != null">
        #{filename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.group7.edu.entity.SysNetDiskFile">
    update sys_disk
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="fileuuid != null">
        fileuuid = #{fileuuid,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=DATE},
      </if>
      <if test="filename != null">
        filename = #{filename,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.group7.edu.entity.SysNetDiskFile">
    update sys_disk
    set uid = #{uid,jdbcType=INTEGER},
      size = #{size,jdbcType=VARCHAR},
      fileuuid = #{fileuuid,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=DATE},
      filename = #{filename,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>