<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group7.edu.mapper.SysSyllabusMapper">
  <resultMap id="BaseResultMap" type="com.group7.edu.entity.SysSyllabus">
    <id column="id" jdbcType="INTEGER" property="id" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.group7.edu.entity.SysSyllabus">
    <result column="courses" jdbcType="LONGVARCHAR" property="courses" />
  </resultMap>
  <sql id="Base_Column_List">
    id
  </sql>
  <sql id="Blob_Column_List">
    courses
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_syllabus
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_syllabus
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.group7.edu.entity.SysSyllabus">
    insert into sys_syllabus (id, courses)
    values (#{id,jdbcType=INTEGER}, #{courses,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.group7.edu.entity.SysSyllabus">
    insert into sys_syllabus
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="courses != null">
        courses,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="courses != null">
        #{courses,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.group7.edu.entity.SysSyllabus">
    update sys_syllabus
    <set>
      <if test="courses != null">
        courses = #{courses,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.group7.edu.entity.SysSyllabus">
    update sys_syllabus
    set courses = #{courses,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>