<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group7.edu.mapper.czr.SysCourseExtMapper">
    <resultMap id="ExtResultMap" type="com.group7.edu.dto.SysCourseDTO">
        <id column="course_id" jdbcType="INTEGER" property="courseId"/>
        <result column="course_name" jdbcType="VARCHAR" property="courseName"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="orig_price" jdbcType="DECIMAL" property="origPrice"/>
        <result column="terminal_time" jdbcType="DATE" property="terminalDate"/>
        <result column="created_time" jdbcType="DATE" property="createdTime"/>
        <result column="start_time" jdbcType="DATE" property="startTime"/>
        <result column="cover_url" jdbcType="VARCHAR" property="coverUrl"/>
        <result column="course_text" jdbcType="VARCHAR" property="courseText"/>
        <result column="title" jdbcType="VARCHAR" property="adTitle"/>
        <result column="ad_text" jdbcType="VARCHAR" property="adText"/>
        <result column="group_id" jdbcType="INTEGER" property="groupId"/>
        <result column="group_name" jdbcType="VARCHAR" property="groupName"/>
        <result column="times" jdbcType="INTEGER" property="times"/>
        <result column="realname" jdbcType="VARCHAR" property="teacherName"/>
        <result column="icon_uuid" jdbcType="VARCHAR" property="teacherIcon"/>
        <result column="signature" jdbcType="VARCHAR" property="teacherSignature"/>
        <result column="score" jdbcType="INTEGER" property="teacherScore"/>
        <result column="student_count" jdbcType="INTEGER" property="studentCount"/>
        <result column="teaching_duration" jdbcType="INTEGER" property="duration"/>
    </resultMap>
    <select id="selectCourseDetails" parameterType="integer" resultMap="ExtResultMap">
        SELECT c.id as course_id, c.name as course_name, c.price, c.orig_price, c.terminal_time,
               c.created_time, c.start_time, c.cover_url, c.course_text,
               ad.title, ad.ad_text,
               g.id as group_id, g.name as group_name, g.times,
               t.icon_uuid, t.realname, t.nickname as signature, t.score, t.student_count, t.teaching_duration
        FROM sys_course c
                 INNER JOIN sys_group g ON c.id = g.id
                 INNER JOIN sys_teacher t ON t.id = c.lecturer
                 LEFT JOIN sys_ad ad ON c.name = ad.page
        WHERE c.id = #{courseId};
    </select>

    <resultMap id="QaResultMap" type="com.group7.edu.entity.SysAnswerQuestion">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="course_id" jdbcType="INTEGER" property="id"/>
        <result column="answer" jdbcType="VARCHAR" property="answer"/>
        <result column="question" jdbcType="VARCHAR" property="question"/>
    </resultMap>
    <select id="selectByPage" resultMap="QaResultMap">
        SELECT id, answer, question FROM sys_answer_question LIMIT #{off}, #{len}
    </select>
    <select id="selectQaCount" resultType="integer">
        SELECT COUNT(*) FROM sys_answer_question WHERE courseId = #{courseId};
    </select>
    <select id="selectSyllabusById" resultType="java.lang.String">
        SELECT courses FROM sys_syllabus WHERE id = #{courseId}
    </select>

    <resultMap id="CourseEvaluationResultMap" type="com.group7.edu.dto.SysCourseEvaluationDTO">
        <result column="score" jdbcType="INTEGER" property="score"/>
        <result column="created_time" jdbcType="DATE" property="createdTime"/>
        <result column="evaluation_text" jdbcType="VARCHAR" property="evaluationText"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="icon_uuid" jdbcType="VARCHAR" property="userIcon"/>
    </resultMap>
    <select id="selectCourseEvaluationById" resultMap="CourseEvaluationResultMap">
        SELECT e.id, e.score, e.created_time, e.evaluation_text,
               s.nickname, s.icon_uuid
        FROM sys_course_evaluation e
                 LEFT JOIN sys_student s ON IFNULL(e.user_id, -1) = s.id
        WHERE e.course = #{courseId}
        LIMIT #{off}, #{len}
    </select>

    <select id="selectEvaluationCount" resultType="integer">
        SELECT COUNT(*) FROM sys_course_evaluation WHERE course = #{courseId}
    </select>
</mapper>